---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
const project = blok.project[0];
---

<div class="my-24 flex w-full justify-center laptop:w-10/12">
	<div class:list={[blok.direction === "left" ? "translate-x-16" : "-translate-x-16 flex-row-reverse", "hidden tablet:flex"]}>
		<a href={project.website.url} aria-label="alt" rel="external">
			<Image src={project.image.filename} alt={project.image.alt} width={1280} aspectRatio={16 / 9} class="min-w-[360px] rounded-xl bg-white transition duration-300 ease-out hover:scale-105 hover:shadow-md dark:bg-gray-100 dark:brightness-90" />
		</a>
		<div class:list={[blok.direction === "left" ? "-translate-x-32" : "translate-x-32", "flex w-full flex-col px-4 py-4 max-w-lg"]}>
			<h5 class:list={[blok.direction === "left" ? "text-right" : "text-left", "pb-1 text-lg font-normal text-white dark:text-gray-100"]}>{project.type} • {project.year}</h5>
			<h4 class:list={[blok.direction === "left" ? "text-right" : "text-left", "pb-4 text-3xl font-bold text-white dark:text-gray-100"]}>{project.title}</h4>
			<div class="border-primary/50 mb-4 flex min-h-[128px] flex-col justify-between space-y-4 rounded-xl border bg-white px-6 py-4 shadow-lg transition duration-300 ease-out hover:scale-[1.01] hover:shadow-xl dark:border-0 dark:bg-gray-900">
				<span class="text-md grow pb-4 text-justify font-medium text-gray-700 dark:text-gray-300">{project.description}</span>
				<div class:list={[blok.direction === "right" && "flex-row-reverse", "flex justify-between"]}>
					<div class:list={[blok.direction === "right" && "justify-end", "flex w-full flex-nowrap overflow-hidden text-ellipsis text-gray-400 dark:text-gray-500"]}>
						{project.languages.map((language) => <span class="shrink-0 cursor-pointer snap-mandatory snap-start p-2 transition-colors hover:text-primary">{language} </span>)}
					</div>
					<div class:list={[blok.direction === "right" && "flex-row-reverse", "gradient flex shrink items-center justify-end text-white dark:text-gray-50"]}>
						<a href={project.git.url} aria-label={` ${project.title} source`} rel="external" target="_blank" class:list={[project.git.url || "hidden", "inline-flex items-center justify-between rounded-full bg-gray-700 px-4 py-2 hover:opacity-90 transition"]}>
							<Icon class="mr-2 h-5 w-5" pack="simple-icons" name="github" />
							Github
						</a>
						<a href={project.website.url} aria-label={` ${project.title} website`} rel="external" target="_blank" aria-hidden="true" class:list={[project.website.url || "hidden", "inline-flex items-center justify-center text-gray-700 hover:opacity-90 transition"]}>
							<Icon class:list={[blok.direction === "left" ? "ml-4" : "mr-4", "flex h-6 w-6"]} pack="ph" name="arrow-square-out-bold" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="w-10/12 tablet:hidden" {...storyblokEditable(blok)}>
		<StoryblokComponent blok={project} />
	</div>
</div>
