---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { Icon } from "astro-icon";
let palette = ["sky", "indigo", "purple", "orange", "red", "pink", "green"];
const { blok } = Astro.props;
---

<nav class:list={[blok.hidden && "hidden", "fixed origin-top duration-500 delay-100 transition-all ease-in-out inset-x-0 top-0 z-40 flex flex-row-reverse justify-between bg-white/95 backdrop-blur-lg px-8 py-4 dark:bg-gray-900/95 tablet:items-center tablet:justify-between"]} id="navbar">
	<div class="tablet:hidden" id="mobile-nav">
		<Icon class="h-6 w-6 cursor-pointer tablet:hidden" pack="ph" name="list-bold" id="burger-icon" />
		<Icon class="hidden h-6 w-6 cursor-pointer" pack="ph" name="x-bold" id="close-icon" />
	</div>
	<ul class="hidden h-full flex-col items-center justify-end space-y-8 text-center text-lg font-medium text-gray-700 dark:text-white tablet:flex tablet:h-full tablet:flex-row tablet:justify-center tablet:space-x-8 tablet:space-y-0" id="links-list" {...storyblokEditable(blok)}>
		{
			blok.items?.map((blok) => {
				return <StoryblokComponent blok={blok} />;
			})
		}
	</ul>
	<Icon class="flex h-6 w-6 cursor-pointer dark:text-gray-100" pack="ph" name="dots-three-vertical-bold" id="gearTrigger" />
</nav>

<div class="invisible fixed z-40 h-full min-h-screen min-w-full bg-black/10 opacity-0 transition-all duration-100 ease-in dark:bg-black/25" id="modalOverlay"></div>
<div class="invisible fixed left-10 top-16 z-50 flex w-64 flex-col space-y-4 rounded-xl border border-gray-100 bg-white p-4 opacity-0 shadow-md transition-all duration-100 ease-in dark:border-gray-900 dark:bg-gray-800 dark:text-white" id="modalContainer">
	<!-- Language is disabled as long as astro-i18next is in beta -->
	<!-- <div class="flex flex-col">
		<span class="pb-2 block text-lg font-bold capitalize"> langue </span>
		<div class="grid grid-cols-2 gap-4 px-4">
			<label>
				<input class="sr-only peer" type="radio" name="languageSwitcher" id="frenchButton" value="/"/> 
				<span class="px-2 py-1 text-center peer-checked:bg-gray-200 dark:peer-checked:bg-gray-600 peer-checked:rounded-full peer-checked:text-gray-900 peer-checked:cursor-default text-gray-500 cursor-pointer font-medium text-lg" for="frenchButton" id="frenchLabel"> Français </span>
			</label>
			<label>
				<input class="sr-only peer" disabled type="radio" name="languageSwitcher" id="englishButton" value="/en"/> 
				<span class="px-2 py-1 text-center peer-checked:bg-gray-200 dark:peer-checked:bg-gray-600 peer-checked:rounded-full peer-checked:text-gray-900 peer-checked:cursor-default text-gray-500 cursor-pointer font-medium text-lg" for="englishButton" id="englishLabel"> English </span>
			</label>
		</div>
	</div> -->
	<div class="flex flex-col">
		<span class="block pb-2 text-lg font-bold capitalize"> couleur</span>
		<div class="grid grid-cols-3 gap-6 px-4 font-medium">
			{
				palette.map((color) => (
					<label>
						<input type="radio" class="peer sr-only" value={color} name="colorSwitcher" id={`${color}-button`} />
						<span class={`flex items-center justify-center transition bg-${color}-500 h-12 w-12 cursor-pointer rounded-xl peer-checked:cursor-default peer-checked:rounded-full hover:scale-105 peer-checked:hover:scale-100`} id={color} />
					</label>
				))
			}
			<label>
				<input type="radio" class="peer sr-only" value="random" name="colorSwitcher" id="random-button" />
				<Icon pack="ph" name="shuffle-angular" for="colorSwitcher" class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-xl bg-gray-200 p-2 transition peer-checked:rounded-full hover:scale-105 peer-checked:hover:scale-100 dark:bg-gray-600" id="random" />
			</label>
		</div>
	</div>
	<div class="flex flex-col">
		<span class="block pb-2 text-lg font-bold capitalize"> thème</span>
		<div class="grid grid-cols-3 gap-4 px-4 font-medium">
			<label>
				<input type="radio" class="peer sr-only" value="light" name="darkModeSwitcher" id="lightModeInput" />
				<Icon class="h-12 w-12 cursor-pointer p-2 peer-checked:cursor-default peer-checked:rounded-full peer-checked:bg-gray-200 dark:peer-checked:bg-gray-600" pack="ph" name="sun" id="lightMode" for="darkModeSwitcher" />
			</label>
			<label>
				<input type="radio" class="peer sr-only" value="auto" name="darkModeSwitcher" id="autoModeInput" />
				<Icon class="h-12 w-12 cursor-pointer p-2 peer-checked:cursor-default peer-checked:rounded-full peer-checked:bg-gray-200 dark:peer-checked:bg-gray-600" pack="ph" name="arrows-counter-clockwise" for="darkModeSwitcher" />
			</label>
			<label>
				<input type="radio" class="peer sr-only" value="dark" name="darkModeSwitcher" id="darkModeInput" />
				<Icon class="h-12 w-12 cursor-pointer p-2 peer-checked:cursor-default peer-checked:rounded-full peer-checked:bg-gray-200 dark:peer-checked:bg-gray-600" pack="ph" name="moon" for="darkModeSwitcher" />
			</label>
		</div>
	</div>
</div>

<script>
	const items = document.querySelectorAll("#links-list li") as NodeListOf<HTMLAnchorElement>;
	const navbar = document.getElementById("navbar") as HTMLElement;
	const linksList = document.getElementById("links-list") as HTMLElement;
	const mobileNav = document.getElementById("mobile-nav") as HTMLElement;
	const burger = document.getElementById("burger-icon") as HTMLElement;
	const close = document.getElementById("close-icon") as HTMLElement;
	let lastScrollTop = 0;
	let isOpen = false;

	window.addEventListener("scroll", () => {
		let scrollTop = window.scrollY > window.innerHeight ? window.scrollY : 0;
		if (scrollTop > lastScrollTop + 10 && !isOpen) {
			navbar.classList.add("-translate-y-24");
		} else if (scrollTop < lastScrollTop && !isOpen) {
			navbar.classList.remove("-translate-y-24");
		} else {
			lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
		}
		lastScrollTop = scrollTop;
	});

	mobileNav.addEventListener("click", toggleNavbar);
	items.forEach((item) => {
		item.addEventListener("click", toggleNavbar);
	});

	function toggleNavbar() {
		if (window.innerWidth < 768) {
			isOpen = !isOpen;
			navbar.classList.toggle("h-full");
			linksList.classList.toggle("hidden");
			burger.classList.toggle("hidden");
			close.classList.toggle("hidden");
			linksList.classList.toggle("flex");
			linksList.classList.toggle("justify-evenly");
			items.forEach((item) => {
				item.classList.toggle("text-3xl");
				item.classList.toggle("px-6");
				item.classList.toggle("py-3");
			});
		}
	}
</script>
