---
import { t } from "i18next";

export interface Props {
	title: string;
	location: string;
	description: string;
	website: string;
	map: string;
}

const { title, location, description, website, map } = Astro.props;
---

<div class="flex flex-col p-4 laptop:p-8 desktop:p-11 border-[3px] hover:bg-primary-dark dark:hover:bg-primary dark:border-primary hover:text-white border-primary-dark w-11/12 tablet:w-3/4 laptop:w-4/5 ultrawide:w-[500px] min-w-[200px] transition duration-75 ease-in-out">
	<h4 class="text-md tablet:text-lg laptop:text-xl desktop:text-2xl font-bold dark:text-gray-100">{title}</h4>
	<span class="text-sm tablet:text-md desktop:text-lg font-light dark:text-gray-100"> {location}</span>
	<p class="text-xs tablet:text-sm laptop:text-md font-medium text-justify pb-4 tablet:pt-2 grow dark:text-gray-100">{description}</p>
	<div class="flex justify-end space-x-2">
		<a href={website} target="_blank" class="bg-primary dark:bg-primary-light hover:bg-primary-light text-white p-2 transition duration-75 ease-in-out capitalize"> {t("block.website")}</a>
		<a href={map} target="_blank" class="bg-primary dark:bg-primary-light hover:bg-primary-light text-white p-2 transition duration-75 ease-in-out capitalize"> {t("block.map")}</a>
	</div>
</div>
